body {
/* 加载背景图 */
background-image: url("../images/register.jpg"); 
/* 背景图垂直、水平均居中 */
background-position: center center; 
/* 背景图不平铺 */
background-repeat: no-repeat; 
/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
background-attachment: fixed; 
/* 让背景图基于容器大小伸缩 */
background-size: cover; 
/* 设置背景颜色，背景图加载过程中会显示背景色 */
background-color: #464646;
}
.middle{
    overflow:auto;
    position:relative;
    margin:0 auto;
   /*  border:solid 2px #c6a699; */
    width: 40%;
    margin-top: 50px;
   /*  background: #e6e2e3; */
}
.regis{
    margin-left: 5%;
}
.username{
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom:25px;
    border:solid 1px #414d5c;
    width: 40%;
    height:40px;
    background:url("../images/name.png") no-repeat 0 center;
}
.username input{
    float:left;
    border:none;
    background:none;
    height:40px;
    line-height: 30px;
    width:100%;
    text-indent:32px;
}
.pwd{
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom:25px;
    border:solid 1px #414d5c;
    width: 40%;
    height:40px;
    background:url("../images/psd.png") no-repeat 0 center;
}
.pwd input{
    float:left;
    border:none;
    background:none;
    height:40px;
    line-height: 30px;
    width:100%;
    text-indent:32px;
}
.confirmpwd{
    margin-top: 3%;
    margin-left: 20%;
    border:solid 1px #414d5c;
    width: 40%;
    height:40px;
    background:url("../images/psd.png") no-repeat 0 center;
}
.confirmpwd input{
    float:left;
    border:none;
    background:none;
    height:40px;
    line-height: 30px;
    width:100%;
    text-indent:32px;
}

#vcode{
    border:solid 1px #414d5c;
    width: 21%;
    height:40px;
    margin-top:5%;
    margin-left: 20%;
    padding-left:8px;
}
#code{
    color:#ffffff;/*瀛浣棰茬借*/
    background-color:#000000;
    font-size:20pt;
    font-family:"搴峰濞浣W5";
    padding:5px 35px 10px 35px;
    cursor:pointer;
}

.registerbutton{
    margin-left: 20%;
    background-color: #eae6e7;
    width: 40%;
    height: 40px;
}
.validatecode{
	color:red;
    margin-left: 20%;
}
.validatename{
	color:red;
}
.validatepwd{
	color:red;
}
.validateCpwd{
	color:red;
}
.clearfix{
	clear:both;
}




