<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           				http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- <aop:aspectj-autoproxy />  --><!-- 启用@AspectJ配置 -->
	<!-- 获取PayAgain类的实例 -->
	<bean id="receiveConfirmAction" class="czj.ssh.action.ReceiveConfirm">
		<property name="orderDao">
			<ref bean="orderDao"/>
		</property>
		<property name="orderStateDao">
			<ref bean="orderStateDao"/>
		</property>
	</bean>
	
	<bean id="payAgainAction" class="czj.ssh.action.PayAgain">
		<property name="orderDao">
			<ref bean="orderDao"/>
		</property>
	</bean>
	
	<!-- 获取QueryBookForIndex类的实例 -->
	<bean id="queryBookForIndexAction" class="czj.ssh.action.QueryBookForIndex">
		<property name="bookDao">
			<ref bean="bookDao"/>
		</property>
	</bean>	
	
	<!-- 获取QueryShoppingCart类的实例 -->
	<bean id="queryShoppingCartAction" class="czj.ssh.action.QueryShoppingCart">
		<property name="shoppingCartDao">
			<ref bean="shoppingCartDao"/>
		</property>
	</bean>
	
	<!-- 获取DeleteShoppingCartItem类的对象 -->
	<bean id="deleteShoppingCartItemAction" class="czj.ssh.action.DeleteShoppingCartItem">
		<property name="shoppingCartDao">
			<ref bean="shoppingCartDao"/>
		</property>
	</bean>
	
	<!-- 获取CreateOrder类的对象 -->
	<bean id="createOrderAction" class="czj.ssh.action.CreateOrder" scope="prototype">
		<property name="orderDao">
			<ref bean="orderDao"/>
		</property>
		<property name="shoppingCartDao">
			<ref bean="shoppingCartDao"/>
		</property>
		<property name="orderStateDao">
			<ref bean="orderStateDao"/>
		</property>
	</bean>
	<!-- 获取AddAddress类的对象 -->
	<bean id="addAddressAction" class="czj.ssh.action.AddAddress">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	<!-- 获取Payment类的对象 -->
	<bean id="paymentAction" class="czj.ssh.action.Payment">
		<property name="paymentDao">
			<ref bean="paymentDao"/>
		</property>
	</bean>
	<!-- 获取Search类的对象 -->
	<bean id="searchAction" class="czj.ssh.action.Search" scope="prototype">
		<property name="bookDao">
			<ref bean="bookDao"/>
		</property>
	</bean>
	<!-- 获取SimulationLogin类的对象 -->
	<bean id="simulationLoginAction" class="czj.ssh.action.SimulationLogin">
		<property name="user">
			<ref bean="user"/>
		</property>
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	<!-- 获取AddToShoppingCart类的对象 -->
	<bean id="addToShoppingCartAction" class="czj.ssh.action.AddToShoppingCart">
		<property name="shoppingCartDao">
			<ref bean="shoppingCartDao"/>
		</property>
	</bean>
	<!-- 获取Checkout类的对象 -->
	<bean id="checkoutAction" class="czj.ssh.action.Checkout" />
	<bean id="bookclassifyAction" class="com.ssh.action.bookclassifyAction" init-method="">
		<property name="bookdao">
			<ref bean="bd" />
		</property>
	</bean>
	<!-- 登录注册 -->
	<bean id="registerAction" class="com.ssh.action.RegisterAction">
		<property name="userdao">
			<ref bean="ud" />
		</property>
	</bean>
	<bean id="loginAction" class="com.ssh.action.LoginAction">
		<property name="userdao">
			<ref bean="ud" />
		</property>
	</bean>
	<!-- 地址 -->
	<bean id="myaddressAction" class="com.ssh.action.myaddressAction">
		<property name="userdao">
			<ref bean="ud" />
		</property>
	</bean>
	<!-- 修改密码 -->
		<bean id="revisepwdAction" class="com.ssh.action.revisepwdAction">
		<property name="userdao">
			<ref bean="ud" />
		</property>
	</bean>
	<!-- 订单中心 -->
		
	<bean id="myorderAction" class="com.ssh.action.myorderAction">
		<property name="userdao">
			<ref bean="ud" />
		</property>
	</bean>
	
	<!-- 信息完善 -->
	<bean id="perfectdataAction" class="com.ssh.action.perfectdataAction">
		<property name="userdao">
			<ref bean="ud" />
		</property>
	</bean>
	
	
	
	<!-- edit by rin 2017/6/6 -->
	
	<!--分页获取所有图书 -->
	<bean id="BookListAction" class="llj.ssh.action.BookListAction">
		<property name="bookDao">
			<ref bean="bd"/>
		</property>
		<property name="pageSize" value="19"/>
	</bean>
	
	<!-- 删除图书 -->
	<bean id="DeleteBookAction" class="llj.ssh.action.DeleteBookAction">
		<property name="bookDao">
			<ref bean="bd"/>
		</property>
	</bean>
	
	
	<!-- 前往 -->
	<bean id="EditBookAction" class="llj.ssh.action.EditBookAction">
		<property name="bookDao">
			<ref bean="bd"/>
		</property>
	</bean>
	
	<!-- 更新图书信息 -->
	<bean id="UpdateBookAction" class="llj.ssh.action.UpdateBookAction">
		<property name="bookDao">
			<ref bean="bd"/>
		</property>
	</bean>
	
	
	
	
	
	
</beans>